<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="postListing()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only>
       <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="filterItems($event.target.value)">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button  menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="location" color="snowish">
    <button ion-button clear icon-right color="secondary" (click)="browseCategory()">
      Browse Category<!-- {{categoryName | uppercase}}-->
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button clear color="secondary" icon-start (click)="openFavorites()" class="btn-txt">
        <ion-icon name="bookmark"></ion-icon>
        Favs
      </button>
      <button ion-button color="secondary" icon-right (click)="openLocation($event)" class="btn-txt">
          {{selectedCity}}
        <ion-icon class="drop" name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content class="main-content" >
 <div class="no-listing" *ngIf="listings.length === 0" padding>
   <p class="miss-list">Oops!!! no listings yet for that category .check back later</p>
 </div>
 <div class="main-table">
  <ion-card *ngFor="let listing of listings">
    <div class="image-bar"></div>
    <div class="list-image">
      <img src= 'assets/img/headphone.jpg' />
    </div>

    <div class="card-title" (click)="showDetails(listing.id,listing.title,listing.description,listing.views,listing.flag)">{{listing.title}}</div>
    
    <div class="card-subtitle">     
      {{listing.price}} gdes   
    </div>

    <div class="flag" *ngIf="listing.flag === true">
      New
    </div>

    <div class="views">
      <ion-icon name ="eye"></ion-icon>
      {{listing.views}} views
    </div>

    <div *ngIf="favorites.indexOf(listing.id) == '-1'; then fav else remove"></div>

    <ng-template #fav>
      <button class ="btn-star" ion-button outline medium color="secondary" icon-only (click)="favs(listing.id)">
        <ion-icon name ="bookmark"></ion-icon>
      </button>
    </ng-template>

    <ng-template #remove>
      <button  class ="btn-star" ion-button medium color="dark-green" icon-only (click)="removeFavorite(listing.id)">
        <ion-icon name='bookmark'color="secondary"></ion-icon>
      </button>
    </ng-template>

  </ion-card>

 </div>
<!--  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="camera"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="images"></ion-icon></button>
      <button ion-fab><ion-icon name="camera"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->

</ion-content>

