page-category {
   ion-content{
       ion-list{
           button.modal{
               text-transform: capitalize !important;
               color:#73C1BB !important;
               font-size: 18px !important;
           }
       }
   }
}

