location {
    ion-list{
        ion-item{
            ion-label{
                color:#73C1Bb !important;
                letter-spacing: 1px !important;
                text-transform: capitalize !important;
                font-size: 13px !important;
                font-family: "roboto" !important;  
            }
            
        }
    }

}

