// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #7A85C9,
  secondary:  #73C1BB,
  green-light: #A6D8D4,
  danger:     #f53d3d,
  light:      #f4f4f4,
  facebook:   #3b5998,
  dark-green:   #48A49D,
  dark:       #222,
  snowish:    #fff
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

@mixin bgcolor{
  background: #7A85C9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #73C1BB, #7A85C9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #73C1BB, #7A85C9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

$searchbar-md-input-search-icon-color: #73C1BB;
$searchbar-md-input-text-color:#73C1BB;
$searchbar-md-input-placeholder-color:#73C1BB;
$searchbar-md-input-box-shadow:0px;
$action-sheet-md-background:#73C1BB;
$action-sheet-md-title-color:#fff;
$action-sheet-md-button-text-color:#fff;
$popover-md-text-color:#73C1BB;
$popover-md-width:180px;
$loading-md-spinner-color:#7A85C9;
$badge-md-border-radius:50%;

@mixin truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;
}

@mixin labeltext{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

@mixin font-common{
  text-align:center;  
  letter-spacing:1px;
  color:#fff;
}

@mixin sideBg{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 320px;
  border: none;
  font: normal 0.5px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 153, 151);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 153, 151);
  background: linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 153, 151);
  background-position: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 200em 200em;
  background-size: 200em 200em;

}

@mixin text-actions{
  font-size: 13px;
  color:#fff;
  letter-spacing:1px;
  position:relative;
  text-transform: uppercase; 
}

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700');

