ion-header{
    ion-navbar{

    }
    ion-toolbar{
        h3{
            font-family: "roboto";
            text-align: center;
            font-size: 12px;
            letter-spacing: 1px; 
        }
    }
}